<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>

    <add name="connectionString"
         
         connectionString="
         Data Source=WS-KULAYSTRA\SQLEXPRESS;Initial Catalog=Zoo;
         Integrated Security=True;Pooling=False" />
 
  </connectionStrings>
</configuration>