<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>

    <add name="connectionString"
         
         connectionString="
         workstation id=DataBaseForTesting.mssql.somee.com;packet size=4096;
         user id=remoteUser;pwd=1q2w3e4r;data source=DataBaseForTesting.mssql.somee.com;
         persist security info=False;initial catalog=DataBaseForTesting" />
 
  </connectionStrings>
</configuration>